<button appMenuTrigger [panel]="popup">Open Frontend Frameworks</button>

<ng-template #popup>
  <app-menu>
    <app-menu-item>Angular</app-menu-item>
    <app-menu-item>React</app-menu-item>
    <app-menu-item disabled>Vue</app-menu-item>
    <app-menu-item>Solid.js</app-menu-item>
  </app-menu>
</ng-template>


<button  appearance='solid' color="primary" dfButton> Hello I am a primary button </button>
<button  appearance='stroked' color="secondary" dfButton> Hello I am a secondary button </button>

<app-chip  appearance='solid' [removable]="true" color="primary">I am a primary chip</app-chip>
<app-chip  appearance='solid'  [removable]="true" color="secondary">I am a secondary chip</app-chip>

<app-banner  appearance='solid' color="primary">
  Primary Banner
</app-banner>

<app-banner  appearance='stroked' color="secondary">
  Secondary Banner
</app-banner>