<button appMenuTrigger [panel]="popup">Open Frontend Frameworks</button>

<ng-template #popup>
  <app-menu>
    <app-menu-item>Angular</app-menu-item>
    <app-menu-item>React</app-menu-item>
    <app-menu-item disabled>Vue</app-menu-item>
    <app-menu-item>Solid.js</app-menu-item>
  </app-menu>
</ng-template>


<button dfButton> Hello I am a primary button </button>
<button color="secondary" dfButton> Hello I am a primary button </button>

<app-chip [removable]="true" color="primary">I am a primary chip</app-chip>
<app-chip  [removable]="true" color="secondary">I am a secondary chip</app-chip>

<app-banner color="primary">
  Primary Banner
</app-banner>

<app-banner color="secondary">
  Secondary Banner
</app-banner>